In [97]:
from bigml.api import BigML

In [98]:
api = BigML ('rodolphevdl', 'a47cb24c1d3a04762b4b5db6ece5e4c915efa86c',project = 'project/5d9d9dd05a2139288900006f')

In [99]:
source = api.create_source('KFPFull.csv')

In [100]:
dataset = api.create_dataset(source)

In [101]:
from sklearn.model_selection import train_test_split

In [102]:
import sklearn as sk
import numpy as np
import pandas as pd

In [103]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split

In [104]:
train_dataset = api.create_dataset(dataset, {"name": "KFPFull|train 80% ", "sample_rate": 0.8})
test_dataset = api.create_dataset(dataset, {"name": "KFPFull|validation 20% ", "sample_rate": 0.2})

In [105]:
ensemble_args = {"objective_field": "SeriousDlqin2yrs"}
ensemble = api.create_ensemble(train_dataset, ensemble_args)

In [106]:
from pandas import read_csv

In [107]:
df = read_csv("KFPFull.csv")

In [114]:
prediction_args = {"name": "prediction"}
batch_prediction = api.create_batch_prediction(ensemble, train_dataset, {
    "header": True,
    "all_fields": True,
    "probabilities": True})

In [109]:
api.ok(batch_prediction)

True

In [110]:
api.download_batch_prediction(batch_prediction, filename='KFPprediction.csv')

'KFPprediction.csv'

In [187]:
df = read_csv('KFPprediction.csv', index_col=0)

In [197]:
df

,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,DebtAbsolute,MonthlyIncome,MonthlyBalance,MonthlyBalancePerPerson,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,NumberDaysLate,SeriousDlqin2yrs,SeriousDlqin2yrs.1,0 probability,1 probability
Id,,,,,,,,,,,,,,,,,,
5,0.91,49,1,0.02,1585.0,63588.0,62003.0,62003.0,7,0,1,0,0.0,1,0,0,0.68427,0.31573
6,0.21,74,0,0.38,1315.0,3500.0,2185.0,1093.0,3,0,1,0,1.0,0,0,0,0.98844,0.01156
7,0.31,57,0,5710.00,5710.0,NaN,NaN,NaN,8,0,3,0,0.0,0,0,0,0.98731,0.01269
8,0.75,39,0,0.21,735.0,3500.0,2765.0,2765.0,8,0,0,0,0.0,0,0,0,0.93847,0.06153
9,0.12,27,0,46.00,46.0,NaN,NaN,NaN,2,0,0,0,NaN,0,0,0,0.98259,0.01741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149996,0.04,74,0,0.23,473.0,2100.0,1627.0,1627.0,4,0,1,0,0.0,0,0,0,0.99567,0.00434
149997,0.30,44,0,0.72,4001.0,5584.0,1583.0,528.0,4,0,1,0,2.0,0,0,0,0.97666,0.02334
149998,0.25,58,0,3870.00,3870.0,NaN,NaN,NaN,18,0,1,0,0.0,0,0,0,0.98490,0.01510
149999,0.00,30,0,0.00,0.0,5716.0,5716.0,5716.0,4,0,0,0,0.0,0,0,0,0.99392,0.00608
150000,0.85,64,0,0.25,2039.0,8158.0,6119.0,6119.0,8,0,2,0,0.0,0,0,0,0.96371,0.03629

In [202]:
df2 = df[['1 probability']]

In [194]:
df2.index.names = ['Id']

In [204]:
df2.rename(columns = {'1 probability':'Probability'}, inplace=True)

In [207]:
df2.to_csv('kaggle-submission.csv')

In [210]:
api = kaggle competitions download -c GiveMeSomeCredit

SyntaxError: invalid syntax (<ipython-input-210-a9971c7c4dcc>, line 1)

In [ ]:
import kaggle kaggle competitions download -c GiveMeSomeCredit
submission_file = "kaggle-submission.csv"
test_predictions.to_csv(submission_file)
kaggle.api.competition_submit(submission_file, "BigML ensemble", "house-prices-advanced-regression-techniques")